@media screen {
    
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191818;
}

header {
    background-color: #ffcccb;
   
}

h1 {
    margin: 0;
    font-size: 2.5em;
    background-color: #5d2727;
    color: aliceblue;
    border-radius: fit;
}

h2 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #efe7e7;
    background-color: #191818;
}

section {
    padding: 20px;
}

#about {
    background-color: #5d2727;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 100px;
}

.menu-item {
    background-color:rgb(59, 8, 8);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffcccb;
    position: relative;
    bottom: 0;
    width: 100%;
}
h3,p{
    color: aliceblue;
}